backend/target/
target/
node_modules/
frontend/node_modules/
backend/uploads/
.env
*.env
ml_service/__pycache__/
backend/target/
backend/uploads/
.idea/
.vscode/
*.class

frontend/node_modules/
node_modules/

.env
*.env
*.log
.DS_Store
Thumbs.db